* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@font-face {
    font-family: Roboto;
    src: url(Text-font/Roboto-CondensedItalic.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --black: #0c0f14;
    --color: #1ea89d;
    --color-2: #f9de47;
    --text: #fff;
}


#Navbar {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Navbar h1 {
    font-size: 3rem;
    color: #f9de47;
}

#Navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#Navbar ul li {
    list-style: none;

}

#Navbar ul li a {
    text-decoration: none;
    color: #1ea89d;
    padding: 10px;
    font-size: 2rem;
    position: relative;
    font-weight: 700;
    transition: .3s;
}

#Navbar ul li a:hover {
    color: #f9de47;
}

#Navbar ul li a:hover::after {
    content: " ";
    width: 30%;
    height: 2px;
    background: #1ea89d;
    position: absolute;
    bottom: -4px;
    left: 10px;
}

.menu {
    background: #1e9088;
    padding: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    margin-left: 8em;
}

.menu span {
    background: #fff;
    height: 3px;
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -10%);
    cursor: pointer;
}

.menu  .line-1 {
    transform: translate(-50%, -10px);
    transition: transform 0.5s, width ;
}

.menu  .line-3 {
    transform: translate(-50%, 10px);
    transition: transform 0.5s, width ;
}

.open-menu  .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: transform 0.5s, width ;
}
.open-menu  .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.open-menu  .line-2 {
    width: 0;
}


#Hero {
    padding: 20px 80px;
    background-image: linear-gradient(90deg, rgba(30, 168, 157, .6), rgba(249, 222, 71, 0)), url(images/pexels-cottonbro-6502740.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#Hero h2 {
    font-size: 4rem;
    width: 50%;
    color: #fff;
}

#Hero a {
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    background: #c1272d;
}

#About {
    padding: 20px 80px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;
}

.about-container img {
    width: 100%;
    height: 55vh;
    background-position: center;
    object-fit: cover;
}

.oracare-info {
    width: 100%;
    height: 55vh;
    background-color: #f7fbfc;
    padding: 10px;
}

.oracare-info span {
    font-style: italic;
    color: #1ea89d;
    font-size: 2rem;
}

.oracare-info h3 {
    font-style: italic;
    color: #494949c4;
    font-size: 2.5rem;
    margin-bottom: .7em;
}

.oracare-info p {
    font-style: italic;
    color: #494949c4;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.oracare-info a {
    font-style: italic;
    text-decoration: none;
    background: #1ea89d;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px;
}

#Services {
    padding: 20px 80px;
}

#Services h3{
    text-align: center;
    font-size: 40px;
    color: #0c0f14;
    margin-bottom: .5em;
}

#Services span{
    color: #1ea89d;
}

.dental-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.dental {
    width: 30%;
    height: 5;
    padding: 10px;
    object-fit: cover;
    box-shadow: 0px 5px 20px rgba(18, 19, 19, 0.6);
}

.dental svg  {
    object-fit: cover;
    width: 30%;
    background: #f9de47;
    padding: 20px;
    clip-path: polygon(50% 0, 0 25%, 0 75%, 50% 100%, 100% 75%, 100% 25%);
    transition: .5s;
    cursor: pointer;
    stroke: #fff;
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.dental svg:hover{
    background: #fff;
    fill: #f9de47;
}

.dental img {
    width: 100%;
    height: 40vh;
    margin-bottom: .1em;
}

.dental-text {
    padding: 10px;
}

.dental h4 {
    font-size: 2.5rem;
    margin-bottom: .5em;
    color: #1ea89d;
}

.dental p {
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: .5em;
    color: #494949c4;
}

#Contact {
    padding: 20px 80px;
}

#Contact-info {
    padding: 20px 80px;
}

#Contact  h3{
    text-align: center;
    font-size: 40px;
    color: #0c0f14;
    margin-bottom: .5em;
    font-weight: 800;
}

#Contact  span{
    color: #1ea89d;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contact {
    background: #1a1a1a;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.contact span {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/pexels-cottonbro-6502740.jpg);
    cursor: pointer;
    transition: all .3s;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    padding-right: 10px;
}

form h5 {
    font-size: 40px;
    color: #ddd;
}

form button {
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: #fff;
    background: #1ea89d;
    cursor: pointer;
    transition: .4s;
}

form button:hover {
    background: #1a9155;
}

form input, textarea {
    padding: 11px;
    margin-bottom: .5em;
    width: 80%;
    background: none;
    outline: none;
    border: 1px solid #aaa;
    color: #fff;
}

form input:focus, textarea:focus{
    border: 1px solid #338bd8;
}

form input::placeholder, textarea::placeholder {
    color: #aaa;
}

#Footer {
    padding: 20px 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.671)), url(images/pexels-cottonbro-6502740.jpg);
    background-position: center;
    background-size: cover;
}

#Footer h2 {
    font-size: 40px;
    text-align: start;
    color: #dbdbdb;
    margin-bottom: 1em;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer svg {
    fill: #f9de47;
}

.footer  {
    width: 70%;
    height: 45vh;
    padding: 10px;
    margin-left: 6%;
}

.footer a {
    text-decoration: none;
    color: #dbdbdb;
    transition: .5s;
}

.footer a:hover {
    text-decoration: underline;
    color: #1ea89d;
}

.footer i {
    color: #fff;
    font-size: 40px;
    padding: 10px;
}

.footer h5 {
    color: #fff;
    font-size: 30px;
    text-align: start;
    margin-bottom: .5em;
}

.footer p {
    color: #aaa;
    text-align: start;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 20px 80px;
}

footer p {
    font-size: 1.5rem;
}

footer span {
    color: #12d10c;
    font-weight: 700;
}

.backTop{
    position: fixed;
    bottom: 10%;
    left: 90%;
    padding: 10px;
    text-align: center;
    background: #1ea89d;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.backTop.active {
    opacity: 1;
}
